.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 70px;
   max-height: 70px;
}

.navbar__left > h1 {
   font-size: 30px;
   padding-left: 10px;
}

.navbar__left {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.navbar__center {
   display: flex;
   /* margin-top: 250px; */
   align-items: center;
   justify-content: center;
   position: fixed;
   /* top: 0; */
   left: 50%;
   right: 50%;
}

.navbar__right {
   display: flex;
   align-items: center;
}
