.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 70px;
   max-height: 70px;
}

.navbar__left > h1 {
   font-size: 30px;
}

.navbar__left {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.navbar__center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar__right {
   display: flex;
   align-items: center;
}
