@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
   margin: 0;
}

/* width */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #c1c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #c1c1c1;
}

body {
   margin: 0;
   font-family: "Quicksand", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   overflow-y: scroll; /* Show vertical scrollbar */
}

a {
   text-decoration: none;
}
